# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace       # Removes spaces or tabs at the end of lines.
    -   id: end-of-file-fixer         # Ensures every file ends with exactly one newline.
    -   id: check-yaml                # Validates .yml / .yaml files for syntax errors.
    -   id: check-json
