name: "Run tests"

on:
  push:
    branches: [ master, main, M17 ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macos-latest" ]
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        uv sync --dev --locked

    - name: Test with pytest
      run: |
        uv run pytest -v
